### Import Library

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split

### Read Data file and create Data Frame

In [2]:
df = pd.read_csv(r"C:\Users\sahil\OneDrive\Naresh IT Class\Data Files\Salary_Data.csv")

In [3]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [4]:
df.shape

(30, 2)

In [5]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [6]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [7]:
df.dtypes

YearsExperience    float64
Salary             float64
dtype: object

### Split input column and output column in Data Frame

In [8]:
x = df.drop('Salary',axis=1)
y = df['Salary']

### Now split colunms for train and test data using
- 'sklearn.model_selection' package
- and 'train_test_split' function

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [13]:
print('Shape of Data Frame',df.shape)
print('Shape of x_test data',x_train.shape)
print('Shape of x_test data',x_test.shape)
print('Shape of y_train data',y_train.shape) 
print('Shape of y_test data',y_test.shape)

Shape of Data Frame (30, 2)
Shape of x_test data (24, 1)
Shape of x_test data (6, 1)
Shape of y_train data (24,)
Shape of y_test data (6,)

((24,), (6,))