### Import Library

In [43]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score

from sklearn.preprocessing import StandardScaler

### Read Data file and create Data Frame

In [26]:
df = pd.read_csv(r"C:\Users\sahil\OneDrive\Naresh IT Class\Data Files\Salary_Data.csv")

In [27]:
df.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [28]:
df.shape

(30, 2)

In [29]:
df.columns

Index(['YearsExperience', 'Salary'], dtype='object')

In [30]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [31]:
df.dtypes

YearsExperience    float64
Salary             float64
dtype: object

### Strandaredize the data using Standard Scale class of sklearn.preprocessing package

In [32]:
ss = StandardScaler()
std_cols = ss.fit_transform(df[['YearsExperience','Salary']])
df[['YearsExperience','Salary']] = std_cols
df

    YearsExperience    Salary
0         -1.510053 -1.360113
1         -1.438373 -1.105527
2         -1.366693 -1.419919
3         -1.187494 -1.204957
4         -1.115814 -1.339781
5         -0.864935 -0.718307
6         -0.829096 -0.588158
7         -0.757416 -0.799817
8         -0.757416 -0.428810
9         -0.578216 -0.698013
10        -0.506537 -0.474333
11        -0.470697 -0.749769
12        -0.470697 -0.706620
13        -0.434857 -0.702020
14        -0.291498 -0.552504
15        -0.148138 -0.299217
16        -0.076458 -0.370043
17        -0.004779  0.262859
18         0.210261  0.198860
19         0.246100  0.665476
20         0.532819  0.583780
21         0.640339  0.826233
22         0.927058  0.938611
23         1.034577  1.402741
24         1.213777  1.240203
25         1.321296  1.097402
26         1.500496  1.519868
27         1.536336  1.359074
28         1.787215  1.721028
29         1.858894  1.701773

### Split input column and output column in Data Frame

In [33]:
x = df.drop('Salary',axis=1)
y = df[['Salary']]
# x = df.iloc[:,0]
# y = df.iloc[:,1]

In [34]:
type(x)

pandas.core.frame.DataFrame

In [35]:
type(y)

pandas.core.frame.DataFrame

### Now split colunms for train and test data using
- 'sklearn.model_selection' package
- and 'train_test_split' function

In [36]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [37]:
print('Shape of Data Frame',df.shape)
print('Shape of x_test data',x_train.shape)
print('Shape of x_test data',x_test.shape)
print('Shape of y_train data',y_train.shape) 
print('Shape of y_test data',y_test.shape)

Shape of Data Frame (30, 2)
Shape of x_test data (24, 1)
Shape of x_test data (6, 1)
Shape of y_train data (24, 1)
Shape of y_test data (6, 1)

### Machine Learning Linear Regression Model Developement using
- 'sklearn.linear_model' package
- and 'LinearRegression' class

In [38]:
LR  = LinearRegression() # create object of LinearRegression Class
LR.fit(x_train,y_train)

LinearRegression()

### Model Prediction
- to calculate prediction we need to pass the x_test data in 'predict()' mathod with object of LinearRegression class

In [48]:
y_prediction = LR.predict(x_test)

In [40]:
y_prediction

array([[ 1.47613439],
       [-0.16712845],
       [ 0.98665184],
       [-0.0272763 ],
       [-0.76150012],
       [-0.58668493]])

#### Passing 1 row only for prediction

In [47]:
# if i want only 1 row of data then do this 

y_prediction_1row = LR.predict([x_test.iloc[0].values])
y_prediction_1row
# if we want  to pass 2 or 3 rows  of data then 
# y_prediction_1row = LR.predict([x_test.iloc[0].values,x_test.iloc[1].values])

array([[1.47613439]])

### Evalute the model with Evalution Metrix
- by passing the y_test and y_prediction data into the Evalution Metrix methods
- Package Name : sklearn.metrix
- Methods Name : r2_score, mean_squared_error
- calculate : r2 score, mean squared error, root mean squared error

In [41]:
R2 = r2_score(y_test, y_prediction)
MSE  = mean_squared_error(y_test, y_prediction)
RMSE = np.sqrt(MSE)

print("R2 Score : ",R2)
print("Mean Square Error : ",MSE)
print("Root Mean Square Error : ",RMSE)

R2 Score :  0.9024461774180498
Mean Square Error :  0.06858932896507035
Root Mean Square Error :  0.2618956451815691

In [45]:
# accuracy_score is for classification problem not for regression
# accuracy_score = accuracy_score(y_test,y_prediction)
# print('accuracy_score',accuracy_score)