In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings 
warnings.filterwarnings('ignore')

In [4]:
df = pd.read_csv(r"C:\Users\sahil\OneDrive\Naresh IT Class\Data Files\winequality_red.csv")

In [5]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [6]:
df.shape

(1599, 12)

In [7]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

In [8]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [9]:
df.dtypes

fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides               float64
free sulfur dioxide     float64
total sulfur dioxide    float64
density                 float64
pH                      float64
sulphates               float64
alcohol                 float64
quality                   int64
dtype: object

- we divided  the data into 2 parts input data & output data
- input data = x & output data = y
- again we divide input data into two parts x_train & x_test
- again we divide output data into two parts y_train & y_test
- model developement heppen on x_train & y_train
- Model is will make prediction by taking x_test data and this called y_prediction
- y_prediction is now compaired with y_test

In [10]:
x = df.drop('quality', axis=1)
y = df['quality']

we use train test split from model selection
it will take follwing parameter
    - x : input data
    - y : output data
    - test_size : 0.2  20% test data and 80% train data
    - by deafault its 25:75
    -random_state
        - we want to select observation randomly
        - many possible combination
        - Every possible combination is represent as a number
        - 1,2,3,4,5,6,7,8,9,10
        - select 5 number randonly : how many combinations 10c5
        - random_state = 42 # 42 is number of combination

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train, x_test, y_train, y_test = train_test_split(x,# input data
                                                    y,# output data
                                                    test_size=0.2, # data split ratio
                                                    random_state=1234 ) # which combination id is selected

In [13]:
x_train.shape, x_test.shape

((1279, 11), (320, 11))

In [14]:
y_train.shape, y_test.shape

((1279,), (320,))